.footer__link {
  text-decoration: none;
  color: #fff;
  margin-right: 19px;
  transition: opacity .5s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    display: block;
    margin: 0 0 32px;
  }
}