.place {
  display: grid;
  grid-template-columns: min-content auto;
  row-gap: 48px;
  column-gap: 40px;
  max-width: 984px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    column-gap: 32px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 868px) {
  .place {
    max-width: 720px;
    column-gap: 28px;
    row-gap: 44px;
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: 100%;
    row-gap: 26px;
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    row-gap: 32px;
    margin-bottom: 50px;
  }
}